body {
    min-height: 100%;
    min-width: 100%;
}

.header {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px;
    color: slategray;
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    height: 61px;
    top: 0;
    left: 0;
    z-index: 100;
<<<<<<< HEAD
    vertical-align: center;
    /** float: left; */
    margin: 0px auto 0px auto;
    
=======
    padding-left: 20px;
    padding-top: 10px;
>>>>>>> ac084c32d180c1601ec6596b7f045fcb2ce25a9a
}

/*ul {
    vertical-align: top;
    text-align: left;
    width: 2000px;
    position: relative;
    left: 20px;
    top: 10px;
    
    display: inline-block;
}*/

.logo {
    
    position: relative;
<<<<<<< HEAD
    left: 20px;
    top: 10px;
    margin-right: 5%;
=======
>>>>>>> ac084c32d180c1601ec6596b7f045fcb2ce25a9a
}

.main {
    min-height: 400px;
    height: 70vh;
    position: relative;
    padding-top: 61px;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
}


.contents {
    background-color: white;
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 85%;
    margin: 0 auto;
    flex-grow: 0;
}

.footer {
    text-align: center;
}

.footer-text {
    opacity: 0.6;
}

#map {
    height: 100%;
    width: 100%;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-div {
    background-color: red;
    width: 233;
    height: 100%;
    float: left;
}

.navigation {
    background-color: blue;
    width: 40%;
    height: 100%;
    float: right;
}